name: Hello world workflows

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:


jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Hello world action step
        uses: actions/checkout@v3

      - name: Say hello
        run: echo "Hello, world!"
        shell: bash

  good-bye:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: Say goodbye
        run: echo "Goodbye, world!"
        shell: bash
