name: issue commenter workflows

on:
  issues: 
    types: opened


jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - name: dump context
        run: echo "${{ toJson(github.event) }}"
        
      - name: Create comment
        uses: peter-evans/create-or-update-comment@v5
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            Thank you for opening this issue, @${{ github.event.issue.user.login }}! We will look into it ASAP.
          reactions: '+1'